/* ----------------------------------------------------------------------
 * generic
 */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  color: #000;
  font: normal 12px arial,helvetica,sans-serif;
  line-height: 14px;
  background-color: #fff;
}
img {
  border: 0 none;
}
/* ----------------------------------------------------------------------
 * page
 */
#page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
}
/* ----------------------------------------------------------------------
 * header
 */
#header {
  background: #000 url(lib/images/bg.png);
  width: 100%;
  text-align: center;
}
#logo {
  float: left;
  padding: 10px 0 0 10px;
}
#powered {
  padding: 4px;
  text-align: right;
}
/* ----------------------------------------------------------------------
 * content
 */
#content {
  clear: both;
  padding: 36px 0px 0px 0px;
}
#grid {
}
#sshot-img {
  cursor: pointer;
}

/* ----------------------------------------------------------------------
 * footer
 */
#footer {
  background: #000 url(lib/images/bg.png);
}
#copyright {
  padding-right: 4px;
  color: #fff;
  font-family: arial,helvetica,sans-serif;
  text-align: right;
}
#copyright a {
  text-decoration: none;
  color: #fff;
}
/* ----------------------------------------------------------------------
 * process list dialog
 */
#proc_info {
  padding: 4px;
}
/* ----------------------------------------------------------------------
 * option dialog
 */
#suppression-grid {
  height: 350px;
}
/* ----------------------------------------------------------------------
 * licnense dialog
 */

#lic-dlg{
}

#lic-dlg .x-window-body{
}
#lic-dlg a {
  text-decoration: none;
  color: #eee;
}
#lic-dlg-header {
  height: 48px;
  border-bottom: 1px solid #666;
  background: #000 url(lib/images/bg.png);
}
#lic-dlg-header img {
  padding: 8px;
}
#lic-dlg-content {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  color: #eee;
  background: #fff url(lib/images/bg-lic.png);
  padding: 4px 8px 0 8px;
}
#lic-dlg-content h2 {
  font: bold 12px arial,helvetica,sans-serif;
}
#lic-info {
  padding: 12px;
}
#lic-dlg .lic-info-ft {
  background: #fff url(lib/images/bg.png);
  padding: 4px 8px;
  border-top: 1px solid #999;
  color: #eee;
}

/* ----------------------------------------------------------------------
 * screenthos password prompt
 */
#sshot-prompt .x-dlg-ft .x-btn{
  float: none;
  clear: none;
  margin: 0 3px;
}
#sshot-prompt .x-dlg-bd{
  padding: 5px;
  overflow: hidden!important;
  font: normal 13px verdana,tahoma,sans-serif;
}
#sshot-prompt .ext-mb-input{
  margin-top: 4px;
  width: 95%;
}
#log {
  padding: 4px;
  font-family: monospace;
  white-space: nowrap;
}
.tabs-stop {
 background-image:url( lib/images/icons/de.png ) !important;
}
.tabs-net {
 background-image:url( lib/images/icons/mg.png ) !important;
}
.btn-proc {
 background-image:url( lib/images/icons/at.png ) !important;
}
.btn-filter,.tabs-filter {
 background-image:url( lib/images/icons/sy.png ) !important;
}
.btn-sshot {
 background-image:url( lib/images/icons/cm.png ) !important;
}
.btn-sync,.tabs-sync  {
 background-image:url( lib/images/icons/ah.png ) !important;
}
.btn-log {
 background-image:url( lib/images/icons/al.png ) !important;
}
.btn-his {
 background-image:url( lib/images/icons/tg.png ) !important;
}
.tabs-notice{
 background-image:url( lib/images/icons/so.png ) !important;
}
.btn-key,.tabs-password {
 background-image:url( lib/images/icons/ke.png ) !important;
}
.btn-opt,.tabs-etc {
 background-image:url( lib/images/icons/cg.png ) !important;
}
.btn-net,.tabs-net {
 background-image:url( lib/images/icons/mg.png ) !important;
}
.btn-mach {
 background-image:url( lib/images/icons/co.png ) !important;
}
.btn-inst {
 background-image:url( lib/images/icons/is.png ) !important;
}
.btn-url {
 background-image:url( lib/images/icons/wd.png ) !important;
}
.btn-transcope {
 background-image:url( lib/images/icons/in.png ) !important;
}
.btn-macha {
 background-image:url( lib/images/icons/ml.png ) !important;
}
.btn-bug {
 background-image:url( lib/images/icons/b.png ) !important;
}
.btn-req {
 background-image:url( lib/images/icons/r.png ) !important;
}
.btn-qes {
 background-image:url( lib/images/icons/q.png ) !important;
}
.x-grid3-row {
 background: #FAFFFF;
}
.x-grid3-row-alt {
    background: #d8eafe;
}
.x-grid3-row-selected {
    background: #ff0000 !important;
}
.x-grid3-row-over {
 background: #0651e2;
 color: #fff;
}
.x-grid3-row-selected {
 color: #fff;
}
.x-window {
 width:300px;
}
.x-form-label-left label {
 text-align:right;
}
.x-fieldset {
 border:1px solid;
 display:block;
 margin-bottom:5px;
 padding:2px;
 border-color:#B5B8C8;
}

.sri-0 { 
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -600px;
}
.sri-1 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 0;
} 
.sri-2 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -120px;
} 
.sri-3 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -180px;
} 
.sri-4 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -240px;
} 
.sri-5 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -300px;
} 
.sri-6 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -360px;
} 
.sri-7 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -420px;
} 
.sri-8 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -480px;
} 
.sri-9 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -540px;
} 
.sri-10 {
 width: 59px;height: 10px;
 background: url(lib/images/m.png) no-repeat top left;
 background-position: 0 -60px;
} 
